.form{
  position: relative;
  color: white;
  background: linear-gradient(180deg, rgba(1, 5, 16, 0.6) 0%, rgba(1, 4, 13, 0.6) 100%);
  max-width: 400px;
  margin: 50px auto 0;
  border-radius: 20px;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  color: #010d0d;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration:none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.form-inner input[type="submit"]:hover{
  color: #255784;
  background: #010d0d;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url(https://avatars.mds.yandex.net/get-pdb/2058254/72c5fa1b-c489-490f-b013-5af84313a2c9/s1200);
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
  text-align: center;
  color: white;
}
#action_form {
    margin-top:10%;
    text-align:center;
}
